PORT=5000
MONGO_URI=mongodb://prabhat:prabhat.1234@ac-a3yyedo-shard-00-00.akvgyit.mongodb.net:27017,ac-a3yyedo-shard-00-01.akvgyit.mongodb.net:27017,ac-a3yyedo-shard-00-02.akvgyit.mongodb.net:27017/book-reading-system?ssl=true&replicaSet=atlas-6r45ig-shard-0&authSource=admin&retryWrites=true&w=majority
MONGO_DB_NAME=book-reading-system
JWT_SECRET=bookverse_super_secret_2026_change_this
NODE_ENV=development
