PORT=5000
MONGODB_URI=mongodb+srv://prabhat:2XvVMp7UJUyX2e1G@cluster0.akvgyit.mongodb.net/book-reading-system?appName=Cluster0
JWT_SECRET=replace_with_a_long_random_secret
NODE_ENV=development

BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=difskz4xy
CLOUDINARY_API_KEY=472259171268518
CLOUDINARY_API_SECRET=DY5SHisQd5GPN1ISxN-DlYmrizQ

