PORT=5000
MONGODB_URI=mongodb+srv://prabhat:vRKbNh9yv9VcoQzu@cluster0.akvgyit.mongodb.net/book-reading-system?appName=Cluster0

MONGODB_URI_DIRECT=mongodb://<host>:<port>/<database-name>
JWT_SECRET=replace-with-a-long-random-secret
NODE_ENV=development

BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:5173
FRONTEND_URLS=http://localhost:5173,http://localhost:5174,http://localhost:4173,https://your-frontend-domain.example
CORS_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:4173,https://your-frontend-domain.example

CLOUDINARY_CLOUD_NAME=difskz4xy
CLOUDINARY_API_KEY=472259171268518
CLOUDINARY_API_SECRET=DY5SHisQd5GPN1ISxN-DlYmrizQ

